Source: muscle
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Steffen Moeller <moeller@debian.org>,
 Charles Plessy <plessy@debian.org>
Build-Depends: debhelper (>= 8), cdbs
Standards-Version: 3.9.3
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/muscle
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/muscle/trunk/
Homepage: http://www.drive5.com/muscle/

Package: muscle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: muscle-doc
Replaces: muscle-doc
Provides: muscle-doc
Enhances: seaview, t-coffee
Description: Multiple alignment program of protein sequences
 MUSCLE is a multiple alignment program for protein sequences. MUSCLE
 stands for multiple sequence comparison by log-expectation. In the
 authors tests, MUSCLE achieved the highest scores of all tested
 programs on several alignment accuracy benchmarks, and is also one of
 the fastest programs out there.
